input:focus {
    outline: none;
}

#extendedEuclideanAlgorithm .input-group {
    width: 120px;
    margin: 0 10px 0 0;
    float: left;
}

#chineseRemainderTheorem input {
    border: 0;
}

input:focus {
    outline: none;
}

.matrix input {
    text-align: center;
    border: 0;
    width: 100%;
    background: none;
}

.center {
    text-align: center;
}

.center .close {
    float: none;
}

.no-border {
    border: 0 !important;
    background: none;
}

.spare-right {
    margin-right: 5px;
}

#primeNumberTest input {
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    color: #3B3B3B;
}

#primeNumberGenerators .options select {
    width: 300px;
}

#primeNumberGenerators .input-group {
    width: 300px;
    margin: 0 10px 25px 0;
    float: left;
}

#legendre .input-group {
    width: 140px;
    margin: 0 10px 25px 0;
    float: left;
}

#interpolation coordsystem {
    width: 100%;
    height: calc(100% - 300px);
    background: #000;
}