<div id="interpolation">
	<div class="page-header">
		<h1>Interpolation <small>Draw some points</small></h1>
	</div>
	<div class="row" style="margin-bottom: 15px">
		<div class="col-md-7">
			<span class="label label-danger">Polynomial Interpolation (Vandermonde, Lagrange, Newton, ...)</span>
			<span class="label label-primary">Cubic Spline Interpolation</span>
			<span ng-if="coordinates.length > 10" class="label label-warning">Too many points</span>
		</div>
		<div class="col-md-5">
			<form class="form-inline">
				<div class="input-group">
					<span class="input-group-addon">x</span>
					<input type="number" ng-change="calculate()" ng-model="x" class="form-control">
				</div>
				<div class="input-group">
					<span class="input-group-addon">y</span>
					<input type="number" ng-change="calculate()" ng-model="y" class="form-control">
				</div>
				<button ng-click="addCoordinate({x:x, y:y})" class="btn btn-primary">Add point</button>
				<button ng-click="reset()" class="btn btn-primary">Reset</button>
			</form>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px" ng-if="polynomial.coefficients">
		Polynomial: <span ng-repeat="coefficient in polynomial.coefficients track by $index"><b>{{coefficient}}</b> * x ^ {{$index}} <span ng-if="!$last"> + </span></span>
	</div>
	<interpolation></interpolation>
</div>