<div id="smithNormalForm">
	<div class="page-header">
		<h1>Matrix multiplication <small>Insert your matrices</small></h1>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
					<h2>Input</h2>
				</div>
				<div class="col-md-6 pull-right" style="margin: 18px 0 0">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-sm btn-primary" ng-click="addMatrix()">
							<span class="glyphicon glyphicon-plus-sign"></span> Add matrix
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" ng-repeat="matrix in inputMatrices" style="margin-bottom: 15px">
					<div class="row spare-right">
						<matrix ng-model="matrix" ng-change-callback="calculate()"></matrix>
					</div>
					<div class="row spare-right text-center">
						<span class="label label-default">Matrix M{{$index + 1}}</span>
						<button type="button" class="close" aria-hidden="true" ng-click="deleteMatrix($index)">&times;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-md-1">
					<h2>Result</h2>
				</div>
				<div class="col-md-3" style="margin: 25px 0 0;padding-left:100px">
					
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered no-border">
					<tr ng-repeat="row in outputMatrix">
						<td class="text-center" ng-repeat="element in row track by $index">
							{{element}}
						</td>
					</tr>
				</table>
			</div>
			<div class="row spare-right text-center">
				<span class="label label-default">Matrix A</span>
				<span class="label label-success">A = <span ng-repeat="matrix in inputMatrices">M{{$index + 1}} <span ng-if="!$last">* </span></span></span>
			</div>
		</div>
	</div>
</div>