<div id="perlin">
    <div class="page-header">
        <h1>Perlin texture generator <small>Play with those sliders</small></h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <perlin></perlin>
        </div>
        <div class="col-md-4">
            <div class="layers panel panel-default" ng-repeat="layer in params.layers">
                <div class="panel-heading">Layer #{{$index}} <button type="button" class="close" aria-hidden="true" ng-click="deleteLayer($index)">&times;</button>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="latticeDistanceX">Lattice X distance {{layer.latticeDistanceX}}</label>
                        <input id="latticeDistanceX" type="range" min="1" max="1000" ng-model="layer.latticeDistanceX">
                    </div>
                    <div class="form-group">
                        <label for="latticeDistanceY">Lattice Y distance {{layer.latticeDistanceY}}</label>
                        <input id="latticeDistanceY" type="range" min="1" max="1000" ng-model="layer.latticeDistanceY">
                    </div>
                    <select class="form-control" ng-model="layer.interpolationMethod">
                        <option ng-repeat="interpolationMethod in params.interpolationMethods">{{interpolationMethod}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="clear:both">
                <button ng-click="addLayer()" class="btn btn-default">Add layer</button>
            </div>
        </div>
    </div>
</div>