<div id="smithNormalForm">
	<div class="page-header">
		<h1>Smith normal form <small>Insert your matrix</small></h1>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-4">
					<h2>Input</h2>
				</div>
				<div class="col-md-8 pull-right" style="margin: 25px 0 0; padding: 0">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-xs btn-primary" ng-click="makeBigger()">
							<span class="glyphicon glyphicon-plus-sign"></span> Make bigger
						</button>
						<button ng-if="A.length > 1" type="button" class="btn btn-xs btn-primary" ng-click="makeSmaller()">
							<span class="glyphicon glyphicon-minus-sign"></span> Make smaller
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered no-border">
					<tr ng-repeat="row in A">
						<td ng-repeat="element in row track by $index">
							<input class="element" type="text" ng-model="row[$index]" ng-change="invert()">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-1">
			<div class="row">
				<div class="col-md-2">
					<h2>Result</h2>
				</div>
				<div class="col-md-10" style="margin: 25px 0 0">
					<span class="label label-default">B = S * A * T</span>
					<span class="label label-success">Elementary divisors: {{elementaryDivisors.toString()}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<table class="table table-bordered no-border">
						<tr ng-repeat="row in B">
							<td ng-repeat="element in row track by $index" class="center">{{element}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table class="table table-bordered no-border">
						<tr ng-repeat="row in S">
							<td ng-repeat="element in row track by $index" class="center">{{element}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table class="table table-bordered no-border">
						<tr ng-repeat="row in A">
							<td ng-repeat="element in row track by $index" class="center">{{element}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table class="table table-bordered no-border">
						<tr ng-repeat="row in T">
							<td ng-repeat="element in row track by $index" class="center">{{element}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>