<div id="fixedPointIteration">
	<div class="page-header">
		<h1>Fixed point iteration <small>Insert your function</small></h1>
	</div>
	<div class="row">
		<form class="form-inline">
			<div class="input-group">
				<span class="input-group-addon">Function</span>
				<input type="text" ng-model="functionString" class="form-control" id="function" placeholder="Enter your function">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Start value</span>
				<input type="number" ng-change="calculate()" ng-model="startValue" class="form-control" id="startValue" placeholder="Enter your start value">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Iteration steps</span>
				<input type="number" ng-change="calculate()" min="1" ng-model="iterationSteps" class="form-control" id="steps" value="50">
			</div>
			<button type="submit" ng-click="calculate()" class="btn btn-primary">Calculate</button>
		</form>
	</div>
	<div class="row" ng-if="values">
		<point-diagram ng-model="values"></point-diagram>
	</div>
</div>