<div id="legendre">
	<div class="page-header">
		<h1>Legendre symbol <small>Insert your number</small></h1>
	</div>
	<form class="form-inline">
		<div class="input-group">
			<span class="input-group-addon">a</span>
			<input type="number" ng-change="calculate()" class="form-control" ng-model="a">
		</div>
		<div class="input-group">
			<span class="input-group-addon">p</span>
			<input type="number" ng-change="calculate()" class="form-control" ng-model="p">
		</div>
		<span class="label label-success">Result: {{result}}</span>
	</form>
</div>