<div class="page-header row">
	<div class="col-md-8">
		<h1>Available algorithms <small>implemented in Javascript</small></h1>
	</div>
	<div class="col-md-4" style="margin: 31px 0 0; text-align: right;">
		<a href="http://github.com/schickling/algorithms"><img src="images/github.png" width="21" height="21"></a>
		&nbsp;
		<a href="https://travis-ci.org/schickling/algorithms"><img src="https://travis-ci.org/schickling/algorithms.png?branch=master"></a>
	</div>
</div>
<ul class="nav nav-pills nav-stacked">
	<li ng-repeat="algorithm in algorithms">
		<a href="{{algorithm.url}}">{{algorithm.name}}
		<span style="margin-left: 10px;" class="text-muted">{{algorithm.description}}</span></a>
	</li>
</ul>
