<div id="perlin">
    <div class="page-header">
        <h1>Perlin texture generator <small>Play with those sliders</small></h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <perlin></perlin>
        </div>
        <div class="col-md-4">
            <select id="disabledSelect" class="form-control" style="margin-bottom: 15px;" ng-model="params.interpolationMethod">
                <option ng-repeat="interpolationMethod in params.interpolationMethods">{{interpolationMethod}}</option>
            </select>
            <div class="octaves panel panel-default" ng-repeat="octave in params.octaves">
                <div class="panel-heading">Octave #{{$index}} <button type="button" class="close" aria-hidden="true" ng-click="deleteOctave($index)">&times;</button>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="latticeDistanceX">Lattice X distance {{octave.latticeDistanceX}}</label>
                        <input id="latticeDistanceX" type="range" min="1" max="100" ng-model="latticeDistanceX">
                    </div>
                    <div class="form-group">
                        <label for="latticeDistanceY">Lattice Y distance {{octave.latticeDistanceY}}</label>
                        <input id="latticeDistanceY" type="range" min="1" max="100" ng-model="octave.latticeDistanceY">
                    </div>
                </div>
            </div>
            <div class="form-group" style="clear:both;">
                <button ng-click="addOctave()" class="btn btn-default">Add octave</button>
            </div>
        </div>
    </div>
</div>